<ion-view view-title="聊天列表">
    <ion-nav-buttons class="nav-title-slide-ios7 bar-assertive" side="left">
        <a class="button button-clear icon light" href="#home"><i class="ion-chevron-left"></i>&nbsp;</a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>


        <ion-list>

            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats"
                      type="item-text-wrap"
                      href="#/app/chatlist/{{chat.ctcUser.alumnus.phone}}/{{chat.ctcUser.alumnus.realName}}">
                <img ng-src="{{server_pic}}{{chat.ctcUser.alumnus.headPicPath}}">

                <h2>{{chat.ctcUser.alumnus.realName}}</h2>

                <p>{{chat.msg}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    删除
                </ion-option-button>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll on-infinite="load_more();" distance="5%" ng-if="noMoreItemsAvailable">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
