<ion-modal-view ng-controller="MessageModalCtrl">
  <ion-header-bar>
    <button class="button button-clear" ng-click="cancel()">返回</button>
    <h1 class="title">留言</h1>
  </ion-header-bar>
  <ion-content>
    <div class="content" style="  text-align: center;    padding: 10px;">
      <textarea ng-model="viewData.message" style="width: 100%; border: 1px solid gray; padding: 5px;" name="" id="" cols="30" rows="10" ></textarea></div>
    <button class="button button-balanced button-block" ng-click="sendMessage()">发送</button>
  </ion-content>
</ion-modal-view>