

<ion-view view-title="登录">
    
    <ion-header-bar>
        <h1 class="title">Login</h1>

    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" id = "usename" ng-model="loginData.username">
                        </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" id = "password" ng-model="loginData.password">
                        </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="goState()" id="login" type="submit">登 录</button>
                </label>
                <div class="button-bar bar-light">
                    
                    <a class="button" ui-sref="music"><i class="icon "></i> 忘记密码</a>
                    <a class="button" ui-sref="novel"><i class="icon "></i> 注册
                        <span ng-if="messagesCount" class="badge badge-assertive messagesCount">
                            {{messagesCount > 9 ? 'N' : messagesCount}}
                        </span></a>
                    <!-- <a class="button">Third</a> -->
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>

<script id="music.html" type="text/ng-template">
    <!-- ion-view 的title 属性值将显示在导航栏中 -->
    <ion-view view-title="找回密码">
    <ion-content>
    <form ng-submit="doLogin()">
    
    
    <div class="list ">
    
    <div class="item item-input item-button-right">
    
    <span  class="input-label">用户名</span>
    <input id="stationInput" type="text" placeholder="搜索">
    <div class=" item-button-right button button-positive" id="sendcode" ng-click="btnChangepwd()" type="submit">发送验证码</div>
    
    </div>
    
    
    <label class="item item-input">
    <span class="input-label">密码</span>
    <input type="password" id = "password" ng-model="loginData.password">
    </label>
    <label class="item">
    <button class="button button-block button-positive" id="changepwd">确定</button>
    </label>
    <div class="button-bar bar-light">
    
    
    <!-- <a class="button">Third</a> -->
    </div>
    </div>
    </form>
    </ion-content>                </ion-view>
    </script>
<script id="novel.html" type="text/ng-template">
    <ion-view title="注册">
    <ion-content>
    <form ng-submit="doLogin()">
    <div class="list">
    <label class="item item-input">
    <span class="input-label">用户名</span>
    <input type="text" id = "usename" ng-model="registerData.username">
    
    </label>
    <label class="item item-input">
    <span class="input-label">密码</span>
    <input type="password" id = "password" ng-model="registerData.password">
    </label>
    <label class="item item-input">
    <span class="input-label">邀请码</span>
    <input type="password" id = "code" ng-model="registerData.configpassword">
    </label>
    <label class="item">
    <a class="button button-block button-positive" id="register" type="submit">确定</a>
    </label>
    <div class="button-bar bar-light">
    
    
    
    </div>
    </div>
    </form>
    </ion-content>
    
    </ion-view>
    </script>